@font-face {
  font-family: "Open Sans";
  src: url(../../fonts/static/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "OpenSans ExtraBold";
  src: url(../../fonts/static/OpenSans/OpenSans-ExtraBold.ttf);
}
